* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
        font-family: cursive;
}
/* The header */
header {
    position: absolute;
    font-family: sans-serif;
}
header ul {
    position: relative;
    top: 10px;
    left: 300px;
}
header ul li {
    display: inline-block;
    text-transform: uppercase;
}
header ul li p {
    position: relative;
    right: 280px;
    font-size: 1.5em;
    color: #ffffff;
}
header nav ul li a {
    color: #ffffff;
    transition: ease-in 0.1s;
}
header nav ul li a:hover {
    color: #34bfff;
}
header nav ul li a:active {
    color: rgb(205, 4, 255);
}
header ul li p .uma {
    color: #34bfff;
}
header nav ul ul #hire {
    color: #ffffff;
    display: block;
    box-shadow: 0 0 3.6px #34bfff;
    position: relative;
    left: 55px;
    bottom: 10px;
    padding: 8px 12px;
    background-color: #34bfff;
    border: none;
    border-radius: 16px;
    transition: 0.7s;
}
header nav ul ul #hire:hover {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 19px;
    box-shadow: 0 0 5px #34bfff;
}
header nav ul ul #hire:hover {
    text-decoration: none;
}
header nav ul ul #hire:active {
    color: #000000;
}
header ul li  a {
    margin-left: 30px;
    color: #ffffff;
}
header ul ul li {
    position: relative;
    left: 500px;
    bottom: 30px;
}
header ul ul li button {
    padding: 10px 28px;
    border: none;
    border-radius: 15px;
}
/* The welcome page */
.main_header {
    width: 100%;
    height: 800px;
    background-image: url('image/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_header div {
    position: absolute;
    top: 200px;
    left: 30px;
}
.main_header div p {
    font-size: 1.6em;
    color:#ffffff;
}
.main_header div p .name {
    text-transform: capitalize;
    font-size: 2.6em;
}
.main_header div p .name {
    font-size: 2.6em;
}
.main_header div p .name .uma {
    color: #34bfff;
}
.main_header div .input {
    position: relative;
    top: 25px;
    left: 0px;
    width: 500px;
    height: 50px;
    background-color: #f8eeee;
    border-radius: 25px;
    box-shadow: 0  0 4.6px #34bfff;
}
.main_header div input, .main_header div button {
    position: relative;
    bottom: 17px;
    left: 15px;
}
.main_header div button a:active {
    color: #fff;
}
.main_header input {
    width: 340px;
    background-color: transparent;
    border: none;
    outline: none;
}
.main_header div button {
    position: relative;
    bottom: 20.5px;
    left: 30px;
    padding: 10px 28px;
    border: none;
    border-radius: 20px;
    background-color: #34bfff;
    box-shadow: 0 0 5px #0000008d;
    color: #ffffff;
}
.main_header div button a {
    color: #000000;
}
/* projects */
.main_main {
    width: 100%;
    height: 50rem;
    background-image:-webkit-linear-gradient(left, rgba(13, 4, 15, 0.568) , rgba(13, 4, 15, 0.932)), url('image/thir.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_main .border, .main_main .border .main, .main_main .border .small {
    position: absolute;
    top: 56.25rem;
    left: 70px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    width: 75rem;
    height: 37.5rem;
}
.main_main .border{
    background-color: transparent;
    transition: 1s;    
}
.main_main .border:hover {
    border: 3px solid #34bfff;
}
.main_main .border .main:hover {
    background-color: #000000;
}
.main_main .border .main {
    background-image: url('image/assign1.png');
    background-size: cover;
    background-position: center;
    border: none;
    top: 70px;
    width: 400px;
    height: 450px;
}
.main_main .border .hover {
    background-image: none;
    opacity: 0;
    transition: 1s;
}
.main_main .border .hover:hover{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.348);
    opacity: 1;
}
.main_main .border .hover h2 {
    margin: 10px;
    text-transform: uppercase;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.main_main .border .border_text {
    position: relative;
    top: 5px;
    left: 965px;
    width: 230px;
    height: 70px;
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;
    color: #34bfff;
}
.main_main .border .small h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.main_main .border .small h5 {
    text-transform: capitalize;
}
.main_main .border .small p::first-letter{
    text-transform: uppercase;
}
.main_main .border .small {
    padding-top: 5px;
    padding-left: 10px;
    background-color: #fff;
    top: 150px;
    left: 350px;
    width: 350px;
    height: 300px;
    box-shadow: 0 0 5px #000000a4, 0 0 5px #000000a4;
}

.main_main .border .small button {
    position: relative;
    top: 12px;
    padding: 10px 28px;
    border: none;
    border-radius: 20px;
    background-color: #34bfff;
    transition: 1s;
}
.main_main .border .small .btn1:hover {
    background-color: transparent;
    border: 2px solid #34bfff;
}
.main_main .border .small .btn2 {
    background-color: transparent;
    border: 2px solid #34bfff;
}
.main_main .border .small .btn2:hover {
    background-color: #34bfff;
    border: none;
}
.main_main .border .small button a {
    color: #000;
}
.main_main .border .small button a:active {
    color: #f00;
}
/* skill */
.main_main1 {
    width: 100%;
    height: 800px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.383) , rgba(0, 0, 0, 0.49)),url('image/five.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_main1 .she {
    position: relative;
    bottom: 150px;
    left: 1000px;
    border: 4px solid #ffffffa9;
    width: 200px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
}
.main_main1 #she2 {
    position: relative;
    bottom: 270px;
    left: 980px;
    border: 4px solid #ffffffa9;
    width: 200px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
}
.main_main1 .she1 {
    position: relative;
    bottom: 430px;
    left: 1025px;
    border: 5px solid rgb(0, 0, 0);
    width: 200px;
    height: 75px;
    text-align: center;
    line-height: 70px;
    font-size: 3em;
    text-transform: uppercase;
    color: #000000;
    border-radius: 10px;
    background-color: #ffffffa9;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.main_main1 .she1 span {
    font-size: 25px;
    position: relative;
    top: -10px;
}
.main_main1 .border {
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    border-radius: 15px;
    height: 500px;
    width: 700px
}
.main_main1 div h3 {
    text-transform: uppercase;
}
.one, .two, .three, .four {
    background-color: #ffffffa9;
    width: 250px;
    height: 150px;
    margin-left: 50px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}
.two, .four {
    margin-right: 50px;
    float: right;
}
.one {
    position: relative;
    top: 90px;
}
.two {
    position: relative;
    top: -65px;
    
}
.three {
    position: relative;
    top: 150px;
}
.four {
    position: relative;
    top: -5px;
}
i {
    font-size: 30px;
    color: #34bfff;
}
/* hire me */
.beauty {
    width: 100%;
    padding: 70px 0px;
    text-align: center;
    text-transform: capitalize;
    background-color: #000;
    font-size: 2em;
    color: #fff;
}
.beauty button {
    padding: 10px 28px;
    border: none;
    border-radius: 20px;
    background-color: #34bfff;
    transition: ease-in-out 1s;
}
.beauty button:hover {
    background-color: transparent;
    border: 3px solid #34bfff;
    outline: none;
}
.beauty button a, .beauty button a:hover {
    color: #fff;
    text-transform: capitalize;
}
.beauty button a:active {
    color:rgb(205, 4, 255)
}
/* About me */
.main_main2 {
    width: 100%;
    height: 800px;
    background-image: -webkit-linear-gradient(left, rgba(13, 4, 15, 0.568) , rgba(13, 4, 15, 0.932)),url('image/fourth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_main2 .one {
    float: left;
    margin-left: 200px;
    padding: 170px 100px;
    background-image: url('image/fourth.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 15px;
}
.main_main2 .two {
    background-color: transparent;
    position: relative;
    top: -320px;
    margin-right: 300px;
    margin-left: 0px;
    float: right;
    padding: 170px 100px;
    padding-top: 0px;
    padding-left: 0px ;
    text-align: left;
    text-transform: capitalize;
    color: #ffffff;
    clear: both;
}
.main_main2 .two h1 {
    font-size: 3em;
}
.main_main2 .two p {
    text-transform: none;
    padding-top: 16px;
}
.main_main2 .two p::first-letter {
    text-transform: capitalize;
}
.main_main2 .two h3 {
    padding-top: 16px
}
.main_main2 .two h3 span {
    color: #34bfff;
}
.main_main2 .two button {
    padding: 10px 28px;
    border: none;
    border-radius: 20px;
    background-color: #34bfff;
    transition: ease-in-out 1s;
}
.main_main2 .two button:hover {
    background-color: transparent;
    border: 3px solid #34bfff;
    outline: none;
}
.main_main2 .two button a, .main_main2 .two button a:hover {
    color: #fff;
}
.main_main2 .two button a:active {
    color: rgb(205, 4, 255);
}
/* footer */
footer div {
    width: 100%;
    height: 250px;
    background-color: #000000;
}
footer .sec1, footer .sec2, footer .sec3 {
    background-color: transparent;
    width: 400px;
    height: 150px;
    color: white;
    text-transform: uppercase;
    line-height: 3em;
}
footer .sec1 {
    position: relative;
    top: 30px;
    margin-left: 20px;
}
 footer .sec1 h4 {
    color: #34bfff;
}
footer .sec1 .span2 {
    color: rgb(205, 4, 255);
}
footer .sec2 .span2 {
    color: rgb(205, 4, 255);
}
footer div .blue {
    color: #34bfff;
}
footer .sec1 ul li {
    display: inline-block;
    border-right: 1px solid #bbb;
}
footer .sec1 ul li:last-child {
    border-right: none;
}
footer .sec1 ul li a {
    padding: 5px;
    margin-right: 6px;
    color: #34bfff;
}
footer .sec1 ul li a:hover {
    background-color: #33beff2e;
}
footer .sec1 .copy {
    color: #ffffff7e;
}
footer .sec2 {
    position: relative;
    top: -120px;
    left: 480px;
}
footer .sec2 .span1 {
    text-transform: lowercase;
}
footer .sec3 {
    position: relative;
    top: -270px;
    left: 940px;
    font-size: 16px;
}
footer div .blue {
    color: #34bfff;
}
footer .sec3 input {
    position: relative;
    left: 5px;
    width: 210px;
    background-color: transparent;
    border: none;
    outline: none;
}
footer .sec3 input:focus{
    background-color: transparent;
    border: none;
    outline: none;
}
footer div button {
    position: relative;
    left: 40px;
    padding: 7px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    text-transform: capitalize;
}
footer div button a{
    color:#fff
}
footer div button a:active {
    color: rgb(205, 4, 255);
}
footer .sec3 .bug {
    width: 340px;
    height: 50px;
    background-color: #34bfff;
    border-radius: 18px;
}
::placeholder {
    position: relative;
    left: 10px;
    color: #000000c5;
}

@media (max-width: 550px) {
    body {
        width: 375px;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
    }
    header nav {
        width: 100%;
    }
    header nav ul{
        width: 50px;
        background-color: transparent;
        left: 300px;
    }
    header nav ul li p {
        font-size: calc(1rem - 2px);
        position: absolute;
        top: 10px;
        left: -280px;
    }
    header nav ul li a {
        position: absolute;
        top: 0px;
        left: -70px;
        color: transparent;
    }
    header nav ul ul {
        background-color: transparent;
        top: 10px;
        left: -110px;
    }
    header nav ul ul li {
        left: -50px;
        margin-top: 5px;
        padding: 1px;
    }
    .main_header {
        max-width: 100%;
        max-height: 650px;
        background-size: cover;
        background-repeat: none;
        background-position: center;
    }
    .main_header div{
        top: 200px;
        left: 10px;
    }
    .main_header div p {
        font-size: 17px;
    } 
    .main_header div p .name {
        font-size: calc(3rem - 5px);
    }
    .main_header div .input {
        left: -2px;
        height: 50px;
        width:300px;
    }
    .main_header div input {
        top: -16px;
        width: 180px;
    }
    .main_header div button {
        top: -16px;
        left: 30px;
        padding: 6px;
    }
    .main_main {
        width: 100%;
        max-height: 650px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .main_main .border {
        border: none;
        width: 0px;
    }
    .main_main .border:hover {
        border: none;
    }
    .main_main .border .border_text {
        border: none;
        top: -250px;
        left: -105px;
        font-size: 2rem;
    }
    .main_main .border .main {
        top: -200px;
        left: -58px;
        max-width: 350px;
    }
    .main_main .border .small {
        top: 40px;
        left: -58px;
        max-width: 335px;
        height: 320px;
    }
    .main_main1 {
        width: 100%;
        max-height: 650px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .main_main1 .border {
        display: flex;
        flex-wrap: wrap;
        top: 20px;
        left: 0px;
        width: 350px;
        height: 600px;
    }
    .main_main1 .border .one,.main_main1 .border .two, .main_main1 .border .three, .main_main1 .border .four {
        width: 250px ;
        height: 158px;
    }
    .main_main1 .border .one {
        top: 10px;
        height: 120px;
    }
    .main_main1 .border .two {
        transform: translate(2px,70px);
    }
    .main_main1 .border .three {
        top: 0px;
        height: 110px;
    }
    .main_main1 .border .four {
        top: -5px;
        height: 120px;
        transform: translate(2px, 0px);
    }
    .main_main1 .she, #she2 {
        display: none;
    }
    .main_main1 .she1 {
        top: -350px;
        left: -60px;
        width: 190px;
        height: 40px;
        text-align: center;
        border: 2px solid black;
        font-size: 2rem;
        line-height: 40px;
        transform: rotate(-90deg);
    }
    .main_main1 .she1 span {
        display: none;
    }
    .main_main2 .one {
        top: 80px;
        float: left;
        margin-left: 8px;
        max-width: 160px;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main_main2 .two {
        position: absolute;
        top: 2450px;
        left: 50px;
        color: #fff;
        padding-right: 75px;
    }
    .main_main2 .two h3 span {
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 0.7px;
    }
    footer {
        width: 100%;
        height: 560px;
        background-color: #000;
    }
    footer div .sec1, footer div .sec2, footer div .sec3 {
        width: 350px;
        height: 150px;
    }
    footer div .sec1, footer div .sec2, footer div .sec3 {
        position: relative;
    }
    footer div .sec1 {
        top: 350px;
        left: -10px;
    }
    footer div .sec1 p {
        text-align: center;
        line-height: 100px;
    }
    footer div .sec2 {
        top: 0px;
        left: 10px;
    }
    footer div .sec3 {
        top: -300px;
        left: 10px;
    }
}
