* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cursive;
}
/* The header */
header {
    position: absolute;
    font-family: sans-serif;
}
header ul {
    position: relative;
    top: 10px;
    left: 300px;
}
header ul li {
    display: inline-block;
    text-transform: uppercase;
}
header ul li p {
    position: relative;
    right: 280px;
    font-size: 1.5em;
    color: #ffffff;
}
header nav ul li a {
    color: #ffffff;
    transition: ease-in 0.1s;
}
header nav ul li a:hover {
    color: #34bfff;
}
header ul li p .uma {
    color: #34bfff;
}
header nav ul ul #hire {
    color: #ffffff;
    display: block;
    box-shadow: 0 0 3.6expx #34bfff;
    position: relative;
    left: 55px;
    bottom: 10px;
    padding: 8px 12px;
    background-color: #34bfff;
    border: none;
    border-radius: 16px;
    transition: 0.7s;
}
header nav ul ul #hire:hover {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 19px;
    box-shadow: 0 0 5px #34bfff;
}
header nav ul ul #hire:hover {
    text-decoration: none;
}
header ul li  a {
    margin-left: 30px;
    color: #ffffff;
}
header ul ul li {
    position: relative;
    left: 500px;
    bottom: 30px;
}
header ul ul li button {
    padding: 10px 28px;
    border: none;
    border-radius: 15px;
}
/* The welcome page */
.main_header {
    width: 100%;
    height: 800px;
    background-image: url('main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_header div {
    position: absolute;
    top: 200px;
    left: 30px;
}
.main_header div p {
    font-size: 1.6em;
    color:#ffffff;
}
.main_header div p .name {
    text-transform: capitalize;
    font-size: 2.6em;
}
.main_header div p .name {
    font-size: 2.6em;
}
.main_header div p .name .uma {
    color: #34bfff;
}
.main_header div .input {
    position: relative;
    top: 25px;
    left: 0px;
    width: 500px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0  0 4.6px #34bfff;
}
.main_header div input,
.main_header div button {
    position: relative;
    bottom: 21px;
    left: 15px;
}
.main_header input {
    width: 340px;
    background-color: transparent;
    border: none;
    outline: none;
}
.main_header div button {
    position: relative;
    bottom: 20.5px;
    left: 30px;
    padding: 10px 28px;
    border: none;
    border-radius: 20px;
    background-color: #34bfff;
    box-shadow: 0 0 5px #000000b4;
    color: #ffffff;
}
.main_header div button a {
    color: #000000;
}
.main_main {
    width: 100%;
    height: 800px;
    background-image:-webkit-linear-gradient(left, rgba(13, 4, 15, 0.568) , rgba(13, 4, 15, 0.932)), url('thir.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* skill */
.main_main1 {
    width: 100%;
    height: 800px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.383) , rgba(0, 0, 0, 0.49)),url('five.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_main1 .she {
    position: absolute;
    top: 1950px;
    right: 160px;
    border: 4px solid #ffffffa9;
    width: 200px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
}
.main_main1 #she2 {
    position: relative;
    bottom: 160px;
    left: 1000px;
    border: 4px solid #ffffffa9;
    width: 200px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
}
.main_main1 .she1 {
    position: absolute;
    top: 1990px;
    right: 114px;
    border: 5px solid rgb(0, 0, 0);
    width: 200px;
    height: 75px;
    text-align: center;
    line-height: 70px;
    font-size: 3em;
    text-transform: uppercase;
    color: #000000;
    border-radius: 10px;
    background-color: #ffffffa9;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main_main1.she1 span {
    font-size: 13px;
}
.main_main1 .border {
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    border-radius: 15px;
    height: 500px;
    width: 700px
}
.main_main1 div h3 {
    text-transform: uppercase;
}
.one, .two, .three, .four {
    background-color: #ffffffa9;
    width: 250px;
    height: 150px;
    margin-left: 50px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}
.two, .four {
    margin-right: 50px;
    float: right;
}
.one {
    position: relative;
    top: 90px;
}
.two {
    position: relative;
    top: -65px;
    
}
.three {
    position: relative;
    top: 150px;
}
.four {
    position: relative;
    top: -5px;
}
i {
    font-size: 30px;
    color: #34bfff;
}
/* hire me */
.beauty {
    width: 100%;
    padding: 70px 0px;
    text-align: center;
    text-transform: capitalize;
    background-color: #000;
    font-size: 2em;
    color: #fff;
}
.beauty button {
    padding: 10px 28px;
    border: none;
    border-radius: 20px;
    background-color: #34bfff;
    transition: ease-in-out 1s;
}
.beauty button:hover {
    background-color: transparent;
    border: 3px solid #34bfff;
    outline: none;
}
.beauty button a, .beauty button a:hover {
    color: #fff;
    text-transform: capitalize;
}
/* About me */
.main_main2 {
    width: 100%;
    height: 800px;
    background-image: -webkit-linear-gradient(left, rgba(13, 4, 15, 0.568) , rgba(13, 4, 15, 0.932)),url('fourth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_main2 .one {
    float: left;
    margin-left: 200px;
    padding: 170px 100px;
    background-image: url('fourth.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 15px;
}
.main_main2 .two {
    background-color: transparent;
    position: relative;
    top: -320px;
    margin-right: 300px;
    margin-left: 0px;
    float: right;
    padding: 170px 100px;
    padding-top: 0px;
    padding-left: 0px ;
    text-align: left;
    text-transform: capitalize;
    color: #ffffff;
    clear: both;
}
.main_main2 .two h1 {
    font-size: 3em;
}
.main_main2 .two p {
    text-transform: none;
    padding-top: 16px;
}
.main_main2 .two p::first-letter {
    text-transform: capitalize;
}
.main_main2 .two h3 {
    padding-top: 16px
}
.main_main2 .two h3 span {
    color: #34bfff;
}
.main_main2 .two button {
    padding: 10px 28px;
    border: none;
    border-radius: 20px;
    background-color: #34bfff;
    transition: ease-in-out 1s;
}
.main_main2 .two button:hover {
    background-color: transparent;
    border: 3px solid #34bfff;
    outline: none;
}
.main_main2 .two button a, .main_main2 .two button a:hover {
    color: #fff;
}
/* footer */
footer div {
    width: 100%;
    height: 250px;
    background-color: #000000;
}
footer .sec1, footer .sec2, footer .sec3 {
    background-color: black;
    width: 400px;
    height: 150px;
    color: white;
    text-transform: uppercase;
    line-height: 3em;
}
footer .sec1 {
    position: relative;
    top: 30px;
    margin-left: 20px;
}
 footer .sec1 h4 {
    color: #34bfff;
}
footer .sec1 .span2 {
    color: rgb(205, 4, 255);
}
footer .sec2 .span2 {
    color: rgb(205, 4, 255);
}
footer div .blue {
    color: #34bfff;
}
footer .sec1 ul li {
    display: inline-block;
    border-right: 1px solid #bbb;
}
footer .sec1 ul li:last-child {
    border-right: none;
}
footer .sec1 ul li a {
    padding: 5px;
    margin-right: 6px;
    color: #34bfff;
}
footer .sec1 .copy {
    color: #ffffff7e;
}
footer .sec2 {
    position: relative;
    top: -120px;
    left: 480px;
}
footer .sec2 .span1 {
    text-transform: lowercase;
}
footer .sec3 {
    position: relative;
    top: -270px;
    left: 940px;
    font-size: 16px;
}
footer div .blue {
    color: #34bfff;;
}
footer .sec3 input {
    position: relative;
    left: 5px;
    width: 210px;
    background-color: transparent;
    border: none;
    outline: none;
}
footer .sec3 input:focus{
    background-color: transparent;
    border: none;
    outline: none;
}
footer div button {
    position: relative;
    left: 40px;
    padding: 7px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    text-transform: capitalize;
}
footer .sec3 .bug {
    width: 340px;
    height: 50px;
    background-color: #34bfff;
    border-radius: 18px;
}
::placeholder {
    position: relative;
    left: 10px;
    color: #000000c5;
}